.container-data {
    height: 300px;
    width: 250px;

    .h2 {
        box-shadow: 0 0 10px 0 rgb(89, 89, 89);
        color: white;
        width: 230px;
        height: 280px;
    }
}

.container {
    // height: 100vh;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}